In [7]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

# Set visualization styles
plt.style.use('seaborn-v0_8-whitegrid')

# For better visualization in the notebook
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

# Suppress warnings for cleaner output
import warnings
warnings.filterwarnings('ignore')

In [11]:
# Read the dataset
df = pd.read_csv('studentAddict.csv')

# Display the first few rows of the dataset
df.head(5)

   Student_ID  Age  Gender Academic_Level     Country  Avg_Daily_Usage_Hours Most_Used_Platform Affects_Academic_Performance  Sleep_Hours_Per_Night  Mental_Health_Score Relationship_Status  Conflicts_Over_Social_Media  Addicted_Score
0           1   19  Female  Undergraduate  Bangladesh                    5.2          Instagram                          Yes                    6.5                    6     In Relationship                            3               8
1           2   22    Male       Graduate       India                    2.1            Twitter                           No                    7.5                    8              Single                            0               3
2           3   20  Female  Undergraduate         USA                    6.0             TikTok                          Yes                    5.0                    5         Complicated                            4               9
3           4   18    Male    High School          UK                    3.0            YouTube                           No                    7.0                    7              Single                            1               4
4           5   21    Male       Graduate      Canada                    4.5           Facebook                          Yes                    6.0                    6     In Relationship                            2               7