<b>Project</b>
Buatlah data latih sederhana untuk klasifikasi data berdasarkan
<ul>
    <li>Usia: 18 - 60</li>
    <li>Transkasi perbulan: 0-50</li>
    <li>Label: loyal (0), tidak loyal (1)</li>
</ul>

In [15]:
import numpy as np
import pandas as pd

n_data = 100
usia = np.random.randint(18, 61, size = n_data)
transaksi = np.random.randint(0, 51, size = n_data)
label = np.random.randint(0,2, size = n_data)
gender = np.random.choice(['L','P'], size = n_data)

df = pd.DataFrame({
    'Usia' : usia,
    'Transaksi' : transaksi,
    'Label' : label,
    'Gender' : gender
})

df.to_csv('dataLatih.csv',index = False)

df.size

400

In [16]:
df.head

<bound method NDFrame.head of     Usia  Transaksi  Label Gender
0     42          8      0      L
1     42          8      0      P
2     54         28      1      L
3     27         48      1      L
4     49         31      0      P
..   ...        ...    ...    ...
95    56          6      0      L
96    20          0      1      P
97    34         38      1      L
98    26         21      0      L
99    19         13      1      L

[100 rows x 4 columns]>

In [17]:
df

    Usia  Transaksi  Label Gender
0     42          8      0      L
1     42          8      0      P
2     54         28      1      L
3     27         48      1      L
4     49         31      0      P
..   ...        ...    ...    ...
95    56          6      0      L
96    20          0      1      P
97    34         38      1      L
98    26         21      0      L
99    19         13      1      L

[100 rows x 4 columns]