<h1>ARITMATIKA</h1>

In [4]:
apelBudi = 12
teman = 4
bagiApel = 12//4
print("Budi memiliki",apelBudi,"apel")
print("Dibagikan",teman,"temannya")
print("Apel yg diterima setiap teman adalah",bagiApel,"buah")
print("Jika budi mendapatkan tambahan 8 apel, maka total apel budi adalah",apelBudi + 8)

Budi memiliki 12 apel
Dibagikan 4 temannya
Apel yg diterima setiap teman adalah 3 buah
Jika budi mendapatkan tambahan 8 apel, maka total apel budi adalah 20

<h1>PERBANDINGAN</h1>

In [16]:
tinggiSiti = 160
tinggiAndi = 165
print("Apakah tinggi siti sama dengan andi? :",tinggiSiti==tinggiAndi)
print("Apakah tinggi siti tidak sama dengan andi? :",tinggiSiti!=tinggiAndi)
print("Apakah tinggi siti lebih dari andi? :",tinggiSiti>tinggiAndi)
print("Apakah tinggi siti kurang dari andi? :",tinggiSiti<tinggiAndi)
print("Apakah tinggi siti lebih dari sama dengan andi? :",tinggiSiti>=tinggiAndi)
print("Apakah tinggi siti kurang dari sama dengan andi? :",tinggiSiti<=tinggiAndi)

Apakah tinggi siti sama dengan andi? : False
Apakah tinggi siti tidak sama dengan andi? : True
Apakah tinggi siti lebih dari andi? : False
Apakah tinggi siti kurang dari andi? : True
Apakah tinggi siti lebih dari sama dengan andi? : False
Apakah tinggi siti kurang dari sama dengan andi? : True

<h1>LOGIKA</h1>

In [12]:
cuaca = str(input("Apakah cuaca cerah? (cerah/hujan): "))
pr = str(input("Apakah PR selesai? (sudah/belum): "))
print("Cuaca",cuaca," dan ",pr," mengerjakan pr, apakah budi bisa bermain?: ",cuaca =='cerah' and pr == 'sudah')

Apakah cuaca cerah? (cerah/hujan):  cerah
Apakah PR selesai? (sudah/belum):  sudah

Cuaca cerah  dan  sudah  mengerjakan pr, apakah budi bisa bermain?:  True

<h1>BITWISE</h1>

In [3]:
num1 = 6
num2 = 3
print(num1 & num2)
print(num1 | num2)
print(num1 ^ num2)

2
7
5

<h1>PENUGASAN</h1>

In [1]:
saldo = 50000

print("Seorang siswa memiliki uang saldo sebanyak",saldo)
saldo += 20000
print("Lalu mengisi uang saldo sebanyak Rp.20000, total uang saldo menjadi",saldo)
saldo -= 30000
print("Lalu membeli paket data seharga Rp.30000, total uang saldo menjadi",saldo)

Seorang siswa memiliki uang saldo sebanyak 50000
Lalu mengisi uang saldo sebanyak Rp.20000, total uang saldo menjadi 70000
Lalu membeli paket data seharga Rp.30000, total uang saldo menjadi 40000

<h1>KEANGGOTAAN</h1>

In [2]:
peserta_lomba = ["Andi", "Budi", "Citra", "Dewi" ]
temukan = "Eka"
print(temukan in peserta_lomba)

kalimat = "Saya suka belajar Python"
temukan = "Python"
print(temukan in kalimat)

False
True

<h1>IDENTITAS</h1>

In [3]:
x = 5
y = 5
print("id variabel x adalah",id(x))
print("id variabel y adalah",id(y))
print("Apakah x sama dengan y?",x is y)

list_1 = ["2", "3", "5", "7", "9"]
list_2 = ["2", "3", "5", "7", "9"]
hasil = list_1 is list_2
print("Apakah kedua list tersebut mengacu ke objek yang sama?",hasil)

id variabel x adalah 9097808
id variabel y adalah 9097808
Apakah x sama dengan y? True
Apakah kedua list tersebut mengacu ke objek yang sama? False

<h1>TERNARY</h1>

In [4]:
x = int(input("Nilai x:"))
y = 100
islebihtinggi = "Nilai x lebih besar dari 100" if x > y else "Nilai x lebih kecil dari 100"
print(islebihtinggi)

Nilai x: 20

Nilai x lebih kecil dari 100

In [5]:
x = int(input("Nilai matkul:"))
y = 70
islulus = "Lulus" if x > y else "Tidak Lulus"
print(islulus)

Nilai matkul: 80

Lulus