<h1>for var in collection</h1>

In [1]:
fruits = ["Grape","Apple","Banana","Watermelon","Pineapple"]

for fruit in fruits:
    print(f"Nama buah: {fruit}")

Nama buah: Grape
Nama buah: Apple
Nama buah: Banana
Nama buah: Watermelon
Nama buah: Pineapple

In [21]:
#contoh:
#kelas ti24f punya data nilai pemrograman python 80,100,90,70,70,50,40
#carilah rata2 nilai pemrograman python di kelas ti24f
total = 0
nilaiPython = [80,100,90,70,70,50,40]
for nilai in nilaiPython:
    total += nilai
rata2 = total // len(nilaiPython)
print(f"Nilai rata-rata: {rata2}")

Nilai rata-rata: 71

In [29]:
#enumerate
month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Des"]
for i, m in enumerate(month):
    print(f"{i}: {m}")

0: Jan
1: Feb
2: Mar
3: Apr
4: May
5: Jun
6: Jul
7: Aug
8: Sep
9: Oct
10: Nov
11: Des

In [19]:
kampus = input("Masukan nama kampus: ")
listVokal = "aiueoAIUEO"
total = 0
isVokal = ""
for char in kampus:
    if char in listVokal:
        total += 1
        isVokal = "Huruf Vokal"
        print(f"{char} adalah {isVokal}, Total: {total}")
    else:
        isVokal = "Bukan Vokal"
        print(f"{char} adalah {isVokal}")
print(f"Jumlah total huruf vokal: {total}")

Masukan nama kampus:  UnIverSITas NuSA PUtrA

U adalah Huruf Vokal, Total: 1
n adalah Bukan Vokal
I adalah Huruf Vokal, Total: 2
v adalah Bukan Vokal
e adalah Huruf Vokal, Total: 3
r adalah Bukan Vokal
S adalah Bukan Vokal
I adalah Huruf Vokal, Total: 4
T adalah Bukan Vokal
a adalah Huruf Vokal, Total: 5
s adalah Bukan Vokal
  adalah Bukan Vokal
N adalah Bukan Vokal
u adalah Huruf Vokal, Total: 6
S adalah Bukan Vokal
A adalah Huruf Vokal, Total: 7
  adalah Bukan Vokal
P adalah Bukan Vokal
U adalah Huruf Vokal, Total: 8
t adalah Bukan Vokal
r adalah Bukan Vokal
A adalah Huruf Vokal, Total: 9
Jumlah total huruf vokal: 9

In [20]:
#looping list comprehension
data = [1,2,3,4,5]
pangkat = [x**2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25]

In [24]:
#range 
for i in range(10):
    print(f"Niai i adalah: {i}")

Niai i adalah: 0
Niai i adalah: 1
Niai i adalah: 2
Niai i adalah: 3
Niai i adalah: 4
Niai i adalah: 5
Niai i adalah: 6
Niai i adalah: 7
Niai i adalah: 8
Niai i adalah: 9

In [25]:
for j in range(5,10):
    print(f"Nilai j adalah: {j}")

Nilai j adalah: 5
Nilai j adalah: 6
Nilai j adalah: 7
Nilai j adalah: 8
Nilai j adalah: 9

In [31]:
#cek bilangan prima atau bukan prima
number = int(input("Masukan bilangan: "))
faktor = 0
for i in range(1, number+1):
    if number % i == 0:
        faktor += 1
if faktor == 2:
    print(f"{number} adalah bilangan prima")
else:
    print(f"{number} bukan bilangan prima")

Masukan bilangan:  4

4 bukan bilangan prima

In [38]:
#faktorial
#4! = 4 * 3 * 2 * 1 = 24
total = 1
number = int(input("Masukan angka: "))
for i in range(1, number+1):
    total *= i
print(f"{number} = {total}")

Masukan angka:  6

6 = 720

In [33]:
number = int(input("Masukan bilangan: "))
sign = 1
for i in range(1, number+1):
    result = sign * i
    print(f"{result} ", end='')
    sign *= -1

Masukan bilangan:  6

1 -2 3 -4 5 -6

In [41]:
kursiBioskop = "LPPLLPL"

#Hitung jumlah penonton laki-laki
#Hitung jumlah penonton perempuan

totalLaki = 0
for jenis in kursiBioskop:
    if jenis == "L":
        totalLaki += 1
print(f"Jumlah penonton laki-laki:{totalLaki}")
print(f"Jumlah penonton perempuan:{len(kursiBioskop)-totalLaki}")

Jumlah penonton laki-laki:4
Jumlah penonton perempuan:3

In [49]:
#hitung yg disamping nya berbeda kelamin
kursi = "LPPLLPL"
couple = 0
for i in range(len(kursi)-1):
    if kursi[i] != kursi[i+1]:
        couple += 1
print(f"Jumlah couple: {couple}")

Jumlah couple: 4

In [43]:
data = {
    "fname" : "Dedi",
    "lname" : "Cahyadi"
}

for key, value in data.items():
    print(f"{key}: {value}")

fname: Dedi
lname: Cahyadi