In [4]:
name = "Mumtaz" #contoh tipe data String
age = 20 #contoh tipe data Integer
address,province = "Kp. Nyangkowek","7413412"
pythonScore = 92.37 #contoh tipe data Float
isMarried = False #contoh tipe data Boolean

print("Nama: ",name)
print("Umur: ",age)
print("Alamat: ",address)
print("Provinsi: ",province)
print("Nilai Pemrograman: ",pythonScore)
print("Status Menikah: ",isMarried)

Nama:  Mumtaz
Umur:  20
Alamat:  Kp. Nyangkowek
Provinsi:  7413412
Nilai Pemrograman:  92.37
Status Menikah:  False

In [5]:
print("Tipe data (nama): ",type(name))
print("Tipe data (umur): ",type(age))
print("Tipe data (alamat): ",type(address))
print("Tipe data (provinsi): ",type(province))
print("Tipe data (skor pemrograman): ",type(pythonScore))
print("Tipe data (status menikah): ",type(isMarried))

Tipe data (nama):  <class 'str'>
Tipe data (umur):  <class 'int'>
Tipe data (alamat):  <class 'str'>
Tipe data (provinsi):  <class 'str'>
Tipe data (skor pemrograman):  <class 'float'>
Tipe data (status menikah):  <class 'bool'>

In [10]:
#Casting atau Konversi Tipe Data

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+2,strToFloat,strToBool)

intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr, intToFloat, intToBool)

floatToStr = str(pythonScore)
floatToInt = int(pythonScore)
floatToBool = bool(pythonScore)
print(floatToStr,floatToInt,floatToBool)

boolToStr = str(isMarried)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
print(boolToStr,boolToInt,boolToFloat)

7413414 7413412.0 True
20 20.0 True
92.37 92 True
False 0 0.0

In [12]:
#String adalah kumpulan dari beberapa karakter immutable
city = "Bandung"
panjang = len(city)
print(city[0])
print(city[panjang-1])

B
g

In [23]:
decimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Nilai Desimal:",decimal)
print("Nilai Biner:",biner)
print("Nilai Octal:",octal)
print("Nilai Hexa:",hexa)

print(bin(decimal))
print(oct(decimal))
print(hex(decimal))

print("Biner dari",decimal,":",bin(decimal))
print("Octal dari",decimal,":",oct(decimal))
print("Hexa dari",decimal,":",hex(decimal))

Nilai Desimal: 500
Nilai Biner: 10
Nilai Octal: 255
Nilai Hexa: 255
0b111110100
0o764
0x1f4
Biner dari 500 : 0b111110100
Octal dari 500 : 0o764
Hexa dari 500 : 0x1f4

In [36]:
#Tipe data Collection
cities = ["Sukabumi","Malang","Bandung","Surabaya"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Jakarta"
print(cities)

hobbies = ("Basket","Masak","Sepak Bola")
print(hobbies)
print(hobbies[0])
#hobbies[0] = "Watching netflix" error program
studentData = {
    "name" : "Andi",
    "age" : 20,
    "address":{
        "Street" : "Jl. Cibolang Kaler",
        "number" : 21,
        "province": "Kab. Sukabumi"
    }
}
print(studentData)
print(studentData["name"])
print(studentData["address"]["province"])

studentList = [
    {
        "name" : "Andi",
        "age" : 20,
        "address":{
            "Street" : "Jl. Cibolang Kaler",
            "number" : 21,
            "province": "Kab. Sukabumi"
        }
    },
    {
        "name" : "Rafi",
        "age" : 21,
        "address":{
            "Street" : "Jl. Cemerlang",
            "number" : 1971,
            "province": "Kota Sukabumi"
        }
    }
]
print(studentList[1])

['Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Sukabumi
Surabaya
['Sukabumi', 'Jakarta', 'Bandung', 'Surabaya']
('Basket', 'Masak', 'Sepak Bola')
Basket
{'name': 'Andi', 'age': 20, 'address': {'Street': 'Jl. Cibolang Kaler', 'number': 21, 'province': 'Kab. Sukabumi'}}
Andi
Kab. Sukabumi
{'name': 'Rafi', 'age': 21, 'address': {'Street': 'Jl. Cemerlang', 'number': 1971, 'province': 'Kota Sukabumi'}}